In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.callbacks import EarlyStopping
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import nltk as nlp
import string
import re

C:\Users\AMAR\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\AMAR\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\AMAR\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\AMAR\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\AMAR\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\AMAR\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\AMAR\Anaconda3\lib\site-packages\dask\dataframe\utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
Using TensorFlow backend.

In [2]:
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers.core import SpatialDropout1D
from sklearn.preprocessing import StandardScaler
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [3]:
#Read the data
df=pd.read_json('train.json')
#Get shape and head
df.shape
df.head()

,train-0,train-1,train-2,train-3,train-4,train-5,train-6,train-7,train-8,train-9,...,train-1158,train-1159,train-1160,train-1161,train-1162,train-1163,train-1164,train-1165,train-1166,train-1167
text,why houston flooding isn‘t a sign of climate c...,The U.N. Intergovernmental Panel on Climate Ch...,Bureau Now Sets Strict Limits on Cooling\nOVER...,The Dirty Extractive Underbelly of Clean Energ...,why climate change seems to have faded from th...,ipcc achieves zero credibility - our coalition...,Riots in Chile forced Chilean President Sebast...,claims of climate calamities made 100 months a...,Bureau’s Report Beyond Belief\nThe release of ...,the climate change emergency is a pagan cult\n...,...,Led by Colorado Attorney General (AG) Cynthia ...,earth day 2019 - not one single environmental ...,what navigator captain james cook might have s...,an avalanche of global warming alarmism is abo...,the world isn't going to halve co2 emissions b...,"From Alberta to Australia, from Finland to Fra...",Lake Tahoe is enjoying a third consecutive yea...,New climate tests for pipelines are unnecessar...,Al Gore Claims Wind and Solar are Now Cheaper ...,"This paper from Bruce Colbert, executive direc..."
label,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [4]:
#Read the data
df2=pd.read_json('external_data.json')
#Get shape and head
df2.shape
df2.head()

,external-0,external-1,external-2,external-3,external-4,external-5,external-6,external-7,external-8,external-9,...,external-1158,external-1159,external-1160,external-1161,external-1162,external-1163,external-1164,external-1165,external-1166,external-1167
text,ISLAMABAD: Finance Minister Ishaq Dar presente...,ISLAMABAD: As Senate Chairman Raza Rabbani rul...,NEW DELHI: India unveiled a fire-fighting budg...,strong>ISLAMABAD: Prime Minister Nawaz Sharif ...,strong>LONDON/NEW DELHI/MOSCOW: A multi-billio...,strong>GENEVA/LONDON: In a packed Christie's a...,strong>KARACHI: Fakhar Zaman slammed a spectac...,strong>NEW DELHI/MUMBAI: Anil Ambani's Relianc...,strong>LONDON/JAKARTA: Some of the world's big...,strong>NEW YORK/LONDON: Global capital markets...,...,strong>TOKYO: US oil prices fell in Asian trad...,strong>MANCHESTER: England moved relentlessly ...,London: The oil market rose on Friday but gain...,strong>Lionel Messi looks likely to miss Argen...,strong>Hong Kong: The dollar retreated against...,MUMBAI: West Indies displayed an astonishing b...,strong>DUBAI: It´s been an eventful few days f...,strong>DUBAI: It´s been an eventful few days f...,strong>DUBAI: It´s been an eventful few days f...,Hong Kong: Asian markets mostly recovered Thur...
label,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df1=df.T

In [6]:
df1

                                                         text label
train-0     why houston flooding isn‘t a sign of climate c...     1
train-1     The U.N. Intergovernmental Panel on Climate Ch...     1
train-2     Bureau Now Sets Strict Limits on Cooling\nOVER...     1
train-3     The Dirty Extractive Underbelly of Clean Energ...     1
train-4     why climate change seems to have faded from th...     1
...                                                       ...   ...
train-1163  From Alberta to Australia, from Finland to Fra...     1
train-1164  Lake Tahoe is enjoying a third consecutive yea...     1
train-1165  New climate tests for pipelines are unnecessar...     1
train-1166  Al Gore Claims Wind and Solar are Now Cheaper ...     1
train-1167  This paper from Bruce Colbert, executive direc...     1

[1168 rows x 2 columns]

In [7]:
df3=df2.T

In [8]:
df3

                                                            text label
external-0     ISLAMABAD: Finance Minister Ishaq Dar presente...     0
external-1     ISLAMABAD: As Senate Chairman Raza Rabbani rul...     0
external-2     NEW DELHI: India unveiled a fire-fighting budg...     0
external-3     strong>ISLAMABAD: Prime Minister Nawaz Sharif ...     0
external-4     strong>LONDON/NEW DELHI/MOSCOW: A multi-billio...     0
...                                                          ...   ...
external-1163  MUMBAI: West Indies displayed an astonishing b...     0
external-1164  strong>DUBAI: It´s been an eventful few days f...     0
external-1165  strong>DUBAI: It´s been an eventful few days f...     0
external-1166  strong>DUBAI: It´s been an eventful few days f...     0
external-1167  Hong Kong: Asian markets mostly recovered Thur...     0

[1168 rows x 2 columns]

In [9]:
df4=pd.concat([df1,df3])

In [10]:
df4.to_json('newtrain.json', orient='records')
newtrain = pd.read_json('newtrain.json')
newtrain

                                                   text  label
0     why houston flooding isn‘t a sign of climate c...      1
1     The U.N. Intergovernmental Panel on Climate Ch...      1
2     Bureau Now Sets Strict Limits on Cooling\nOVER...      1
3     The Dirty Extractive Underbelly of Clean Energ...      1
4     why climate change seems to have faded from th...      1
...                                                 ...    ...
2331  MUMBAI: West Indies displayed an astonishing b...      0
2332  strong>DUBAI: It´s been an eventful few days f...      0
2333  strong>DUBAI: It´s been an eventful few days f...      0
2334  strong>DUBAI: It´s been an eventful few days f...      0
2335  Hong Kong: Asian markets mostly recovered Thur...      0

[2336 rows x 2 columns]

In [11]:
#DataFlair - Get the labels
labels=newtrain.label
labels.head()
labels=labels.astype('int')

In [12]:
zero = newtrain['label'] == 0
zero2 = newtrain[zero]
print(zero2)

                                                   text  label
1168  ISLAMABAD: Finance Minister Ishaq Dar presente...      0
1169  ISLAMABAD: As Senate Chairman Raza Rabbani rul...      0
1170  NEW DELHI: India unveiled a fire-fighting budg...      0
1171  strong>ISLAMABAD: Prime Minister Nawaz Sharif ...      0
1172  strong>LONDON/NEW DELHI/MOSCOW: A multi-billio...      0
...                                                 ...    ...
2331  MUMBAI: West Indies displayed an astonishing b...      0
2332  strong>DUBAI: It´s been an eventful few days f...      0
2333  strong>DUBAI: It´s been an eventful few days f...      0
2334  strong>DUBAI: It´s been an eventful few days f...      0
2335  Hong Kong: Asian markets mostly recovered Thur...      0

[1168 rows x 2 columns]

In [13]:
dev_df=pd.read_json('dev.json')
dev_df1=dev_df.T
dev_df1

                                                     text label
dev-0   Are Climate Models Overpredicting Global Warmi...     1
dev-1   The latest National Climate Assessment, releas...     1
dev-2   Climate Strike Kids Cool on Real Action\nA pop...     1
dev-3   Morrison a ‘predatory’ centrist on climate pol...     0
dev-4   CNN’s Town Hall Full of Hot Air\nSixty-three s...     1
...                                                   ...   ...
dev-95  Texas Man Guilty of Kidnapping Still-Missing W...     0
dev-96  Climate campaigners condemn 'insidious' cockta...     0
dev-97  Forget the climate emergency: they need a Pied...     1
dev-98  Why don’t we treat the climate crisis with the...     0
dev-99  Even if You Buy the Science, the Policy Still ...     1

[100 rows x 2 columns]

In [14]:
#DataFlair - Get the labels
dev_labels=dev_df1.label
dev_labels.head()
dev_labels=dev_labels.astype('int')

In [15]:
dev_df1.to_json('dev-1.json', orient='records')
dev1 = pd.read_json('dev-1.json')
dev1

                                                 text  label
0   Are Climate Models Overpredicting Global Warmi...      1
1   The latest National Climate Assessment, releas...      1
2   Climate Strike Kids Cool on Real Action\nA pop...      1
3   Morrison a ‘predatory’ centrist on climate pol...      0
4   CNN’s Town Hall Full of Hot Air\nSixty-three s...      1
..                                                ...    ...
95  Texas Man Guilty of Kidnapping Still-Missing W...      0
96  Climate campaigners condemn 'insidious' cockta...      0
97  Forget the climate emergency: they need a Pied...      1
98  Why don’t we treat the climate crisis with the...      0
99  Even if You Buy the Science, the Policy Still ...      1

[100 rows x 2 columns]

In [16]:
test_df=pd.read_json('test-unlabelled.json')
test_df1=test_df.T
test_df1

                                                        text
test-0     Marketing Executive Somehow Unable To Stop, Pr...
test-1     WASHINGTON  Republican presidential front-runn...
test-2     Turkey Could Be Taking A Big Step Backwards In...
test-3     New York  Keep your kids away from these Santa...
test-4     Global warming is causing more frequent heatwa...
...                                                      ...
test-1405  Warwick asks voters to back radical council ta...
test-1406  Pele, Diego Maradona and Franz Beckenbaeur wil...
test-1407  Electric cars produce less CO2 than petrol veh...
test-1408  Latest Climate Report Feeds into Alarmist Fear...
test-1409  Sarah Palin's teleprompter did freeze in Iowa ...

[1410 rows x 1 columns]

In [17]:
test_df1.to_json('test-unlabelled1.json', orient='records')
test1 = pd.read_json('test-unlabelled1.json')
test1

                                                   text
0     Marketing Executive Somehow Unable To Stop, Pr...
1     WASHINGTON  Republican presidential front-runn...
2     Turkey Could Be Taking A Big Step Backwards In...
3     New York  Keep your kids away from these Santa...
4     Global warming is causing more frequent heatwa...
...                                                 ...
1405  Warwick asks voters to back radical council ta...
1406  Pele, Diego Maradona and Franz Beckenbaeur wil...
1407  Electric cars produce less CO2 than petrol veh...
1408  Latest Climate Report Feeds into Alarmist Fear...
1409  Sarah Palin's teleprompter did freeze in Iowa ...

[1410 rows x 1 columns]

In [40]:
#DataFlair - Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)
#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(dev1['text'])
tfidf_train

<100x9606 sparse matrix of type '<class 'numpy.float64'>'
	with 26064 stored elements in Compressed Sparse Row format>

In [41]:
#DataFlair - Split the dataset
x_train,x_test,y_train,y_test=train_test_split(tfidf_train, dev1.label, test_size=0.3, random_state=7)
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [42]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [43]:
lr_predict = lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

accuracy: 86.67%

In [44]:
svm = LinearSVC()
svm.fit(x_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [45]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

accuracy: 86.67%

In [46]:
mnb = MultinomialNB()
mnb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [47]:
mnb_predict = mnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, mnb_predict)*100,2)))

accuracy: 70.0%

In [48]:
bnb = BernoulliNB()
bnb.fit(x_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [49]:
bnb_predict = bnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, bnb_predict)*100,2)))

accuracy: 70.0%

In [50]:
gbc = GradientBoostingClassifier(loss = 'deviance', learning_rate = 0.01, n_estimators = 10, max_depth = 5, random_state=55)
gbc.fit(x_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.01, loss='deviance', max_depth=5,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=10,
              n_iter_no_change=None, presort='auto', random_state=55,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [51]:
gbc_predict = gbc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, gbc_predict)*100,2)))

accuracy: 66.67%

In [52]:
xgbc = XGBClassifier(loss = 'deviance', learning_rate = 0.01, n_estimators = 10, max_depth = 5, random_state=2020)
xgbc.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints=None,
       learning_rate=0.01, loss='deviance', max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=nan, monotone_constraints=None,
       n_estimators=10, n_jobs=0, num_parallel_tree=1,
       objective='binary:logistic', random_state=2020, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
       validate_parameters=False, verbosity=None)

In [53]:
xgbc_predict = xgbc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, xgbc_predict)*100,2)))

accuracy: 70.0%

In [54]:
sgdc = SGDClassifier()
sgdc.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='hinge', max_iter=None,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [55]:
sgdc_predict = sgdc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, sgdc_predict)*100,2)))

accuracy: 90.0%

In [56]:
dt = DecisionTreeClassifier(criterion= 'entropy', max_depth = 10, splitter='best', random_state=2020)
dt.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=2020,
            splitter='best')

In [57]:
dt_predict = dt.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, dt_predict)*100,2)))

accuracy: 66.67%

In [58]:
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [59]:
rfc_predict = rfc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, rfc_predict)*100,2)))

accuracy: 53.33%

In [60]:
knn = KNeighborsClassifier(n_neighbors = 10,weights = 'distance',algorithm = 'brute')
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='brute', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=10, p=2,
           weights='distance')

In [61]:
knn_predict = knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 73.33%

In [62]:
max_words = 500
max_len = 75
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(x_train)
sequences = tok.texts_to_sequences(x_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model
model = RNN()

AttributeError: lower not found

In [656]:
test_pred=test_df1['text']

In [657]:
tfidf_pred=tfidf_vectorizer.transform(test_pred)

In [658]:
y_pred=sgdc.predict(tfidf_pred)

In [659]:
test_df1['label']= y_pred.tolist()

In [660]:
df_TestOutput=test_df1[['label']].copy(deep=True)

In [661]:
df_TestOutput=df_TestOutput.T

In [662]:
df_TestOutput.to_json ('test-output.json')

In [665]:
x_train,x_test,y_train,y_test = train_test_split(dev1['text'], dev1.label, test_size=0.3, random_state=2020)

pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LogisticRegression())])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 50.0%

In [666]:

pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LinearSVC())])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 83.33%

In [667]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', MultinomialNB())])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 36.67%

In [668]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', BernoulliNB())])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 80.0%

In [669]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', GradientBoostingClassifier(loss = 'deviance',
                                                   learning_rate = 0.01,
                                                   n_estimators = 10,
                                                   max_depth = 5,
                                                   random_state=55))])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 33.33%

In [670]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', XGBClassifier(loss = 'deviance',
                                                   learning_rate = 0.01,
                                                   n_estimators = 10,
                                                   max_depth = 5,
                                                   random_state=2020))])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 86.67%

In [671]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', SGDClassifier())])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 83.33%

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

In [672]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', DecisionTreeClassifier(criterion= 'entropy',
                                           max_depth = 10, 
                                           splitter='best', 
                                           random_state=2020))])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 90.0%

In [673]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', RandomForestClassifier())])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 56.67%

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [674]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', KNeighborsClassifier(n_neighbors = 10,weights = 'distance',algorithm = 'brute'))])

model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 76.67%